/**
 * Netcore custom css
 */

.vertical-align-middle{
    vertical-align: middle !important;
}

textarea{
    width:100%;
    border-radius:3px;
    border: 1px solid #d6d6d6;
    padding:10px;
}

.panel-heading-btn {
    float: right;
}
